



.label{
      text-align: left;
      margin-bottom: 10px;
}
.msg{
      text-align: left;
      margin-top: 15px;
}
.whole{
      text-align:  center;
}

.address{
      margin-top: 15px;
      margin-bottom: 25px;
}

.balance{
      margin-bottom: 15px;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.bottom{
      margin-bottom: 15px;
}

.top{
      margin-bottom: 15px;
}

/* .button{
      margin-bottom: 15px;
} */